<!-- エラーメッセージ -->
<%= render 'layouts/error_messages', value: @user %>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0'>
      <!-- タイトル -->
      <h2>Sign up</h2>
      <!-- ユーザ登録フォーム -->
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', remote: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :postal_code %><br />
          <%= f.text_field :postcode %>
        </div>
        <div class="field">
          <%= f.label :prefecture_code %><br />
          <!-- f.collection_select プロパティ名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション] -->
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, class: "address" %>
        </div>
        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :address_city %>
        </div>
        <div class="field">
          <%= f.label :street %><br />
          <%= f.text_field :address_street %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up",class:'btn btn-sm btn-success'%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>




