<!-- コメント一覧 -->
<h5>Comments</h5>

<table class='table table-hover table-inverse'>
  <!-- テーブル中身 -->
  <tbody>
    <% book_comments.each do |book_comment| %>
      <tr>
         <!-- 投稿ユーザ -->
        <td>
          <% user = User.find_by(id: book_comment.user_id) %>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, size:'40x40', fallback: "no_image.jpg" %><br>
            <%= user.name %>
          <% end %>
        </td>
         <!-- コメント -->
        <td>
          <%= book_comment.comment %>
        </td>
        <!-- 本人の投稿の場合だけ削除ができる -->
        <% if book_comment.user_id == current_user.id %>
          <!-- コメント削除機能 -->
          <td id = "comment_destroy + <%= book_comment.id %>">
            <%= render "book_comments/comment_destroy", book_comment: book_comment %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!--コメント投稿機能 -->
<div id="comment_create">
  <%= render "book_comments/comment_create", book: book, new_comment: new_comment %>
</div>
