<table class='table table-hover table-inverse'>
  <!-- テーブルタイトル -->
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan='2'></th>
    </tr>
  </thead>
  <!-- テーブル中身 -->
  <tbody>
    <% books.each do |book| %>
      <tr>
        <!-- 画像 -->
        <td>
          <% user = User.find_by(id: book.user_id) %>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, size:'40x40', fallback: "no_image.jpg" %>
          <% end %>
        </td>
        <!-- タイトル -->
        <td>
          <%= link_to book_path(book) do %>
            <%= book.title %>
          <% end %>
        </td>
        <!-- 書評 -->
        <td>
          <%= book.body %>
        </td>
        <!-- いいね -->
        <td>
          <%= render 'books/favorite', book: book %>
        </td>
        <!-- コメント数 -->
        <td>
          <p>コメント数：<%= book.commented_count %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>