<!-- エラーメッセージ -->
<%= render 'layouts/error_messages', value: @new_comment %>

<div class='container'>
  <div class='row'>
    <!--サイドカラム-->
    <div class='col-md-3'>
      <%= render 'layouts/sidebar', user: @user, book: @newbook %>
    </div>
    <!--メインカラム-->
    <div class='col-md-8 offset-md-1'>

      <!-- 書籍一覧テーブル -->
      <h2>Book detail</h2>
      <table class='table table-hover table-inverse'>
        <!-- テーブル中身 -->
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= attachment_image_tag @user, :profile_image, size:'40x40', fallback: "no_image.jpg" %><br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book) do %>
                  <%= @book.title %>
                <% end %>
                </td>
              <td>
                <%= @book.body %>
              </td>
              <!-- いいね -->
              <td class=<%= 'favorite' + @book.id.to_s %>>
                <%= render 'favorites/favorite', book: @book %>
              </td>
              <!-- コメント数 -->
              <td>
               <p>コメント数：<%= @book.commented_count %></p>
              </td>
              <!-- 本人の投稿の場合だけ編集・削除ができる -->
              <% if @book.user_id == current_user.id %>
                <td>
                  <%= link_to edit_book_path(@book) do %>
                    <div class='btn btn-success'>Edit</div>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(@book), method: :delete do %>
                    <div class='btn btn-danger'>Destroy</div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
      </table>
      <!-- コメント機能 -->
      <div class="comment_list">
        <%= render "book_comments/comment", book: @book, book_comments: @book_comments, new_comment: @new_comment %>
      </div>
    </div>
  </div>
</div>
